* {
    padding-left: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #092327;
}
.btn:hover {
    cursor:pointer;
}
.checkbtn {
    float: right;
    font-size: 25px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    color:#EA9010;
}
#check {
    display: none;
}
.col1 {
    padding-left: 80px;
    padding-right: 80px;
}
.cta {
    background-color: #EA9010;
    padding: 8px 40px;
    border-radius: 8px;
    border-color: #EA9010;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
footer {
    text-align: center;
    margin-top: 120px;
    font-size: 14px;
    color: grey;
}
h1 {
    font-size: 55px;
    color: #f3e8ee;
}
header {
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}
.header-right:hover {
    color: #EA9010;
}
.header-right:active {
    color: black;
}
.heading {
    margin-top: 220px;
}
.logo {
    color: #EA9010;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
}
.mbtn {
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 1.6px;
    font-size: 16px;
    margin-top: -3px;
    border-color: #EA9010;
    color: #EA9010;
}
.mbtn:hover {
    cursor: pointer;
}
nav ul {
    float: right;
}
nav ul li {
    line-height: 80px;
    display: inline-block;
    margin: 0 5px;
}
nav ul li a {
    padding: 0 18px;
    font-size: 16px;
    color: grey;
}
p {
    color: grey;
}
.stack {
    text-align:center;
}
@media only screen and (max-width: 858px) {
    .col1 {
        padding-left: 28px;
        padding-right: 28px;
    }h1 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    .logo {
        color:#EA9010;
        font-weight: 300;
        font-size: 30px;
    }  
    .heading {
        margin-top: 55px;
    }
    h1 br {
        display: none;
    }
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        text-align: center;
        left: 0;
        transition: all .5s;
        top: 80px;
        width: 100%;
        height: 100vh;
        background: white;
        display: none;
    }
    nav ul li {
        display:grid;
        margin: 30px 0;
        line-height: 30px;
        font-size: 20px;
    }
    nav ul li a {
        font-size: 20px;
        padding: 10px;
    }
    #check:checked ~ ul {
        display: block;
    }
    p br {
        display: none;
    }
}